{% set navigation_bar = [
  (None, 'Sidebar'),
  ('/', 'Home'),
  ('/download/', 'Download Messages'),
  ('/drop/', 'Clear Messages'),
  (None, 'Statistics'),
  ('/stats/partners/', 'Conversation Partners'),
  ('/stats/messages/count/', 'Message Count'),
  ('/stats/messages/length/', 'Message Length'),
  ('/stats/words/count/', 'Word Count'),
  ('/stats/words/length/', 'Word Length'),
  (None, 'Graphs'),
  ('/graph/words/monthly/', 'Words / Month'),
  ('/graph/words/monthly/user/', 'Words / Month per User'),
  ('/graph/words/monthly/gender/', 'Words / Month per Gender'),
  ('/graph/words/punchcard/', 'Wordcount Punchcard'),
  ('/graph/persons/monthly/', 'Persons contacted / Month'),
  (None, 'Show'),
  ('/show/words/', '... Words')
] -%}
{% set active_page = active_page|default('/') -%}

<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    {% block style %}
    <link href="/static/css/nv.d3.css" rel="stylesheet">
    {% endblock %}
    <link href="/static/css/custom.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <script type="text/javascript" src="/static/jquery-1.7.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/d3.min.js"></script>
    <script src="/static/js/nv.d3.min.js"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Message Graphs</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              {% block login %}
              <button class="btn btn-small btn-primary" type="button">Login</button>
              {% endblock %}
            </p>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              {% for href, caption in navigation_bar %}
                {% if href == None %}
                <li class="nav-header">{{ caption|e }}</li>
                {% else %}
                <li{% if href == active_page %} class="active"{% endif %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
              {% for message in messages %}
                <strong>{{ message }}</strong>
              {% endfor %}
              </div>
            {% endif %}
          {% endwith %}
          <div class="hero-unit">
            {% block content %}
            <h1>Welcome to Message Graphs!</h1>

             <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
            {% endblock %}
          </div>


        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Julian Schrittwieser 2013</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  </body>
</html>
