{% extends "index.html" %}

{% block content %}

<div id='chart'>
  <svg style='height:800px'> </svg>
</div>

<script>

 nv.addGraph(function() {
  var chart = nv.models.multiBarChart();

  chart.xAxis
        .axisLabel('Month')
        .tickFormat(function(d) {
          return d3.time.format('%B %Y')(new Date(d * 1000));
        });

  chart.yAxis
        .axisLabel('# Word')
       .tickFormat(d3.format('.0f'));

  chart.showLegend(false);

  d3.select('#chart svg')
       .datum(words_per_month())
     .transition().duration(500)
       .call(chart);


  nv.utils.windowResize(function() { d3.select('#chart svg').call(chart) });

  return chart;
 });

function words_per_month() {
  return [
  {% for name, counts in words %}
    {
       values: [
        {% for month, count in counts %}
          {x: {{ month }}, y: {{ count }} },
        {% endfor %}
       ],
       key: '{{ name }}'
    },
  {% endfor %}
  ];
}


</script>

{% endblock%}

